@import url('../../blocks/section-title/section-title.css');
@import url('../../blocks/section-subtitle/section-subtitle.css');
@import url('../../blocks/cards/cards.css');

.techniques {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}