.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

/*
  цвета проекта
    серый (фон) #1f1f1f
    св. серый (фон) #f2f2f2
    синий (ссылки, фигуры) #2f80ed
    черный #000000

Все элементы страницы хранятся в родительском блоке
с минимальной шириной 1100px и максимальной
шириной 1600px. Контент идет по сетке и логотип 
в шапке и подвале находится на одном уровне.  
*/

.link {
  text-decoration: none;
  color: #2f80ed;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text {
  margin: 0;
}

.logo {
  width: 183px;
  height: 32px; 
}

.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  position: absolute;
  top: 30px;
  left: 64px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  /* выше установили ограничения для секции */
}

.header__title {
  width: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.header__title__text {
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
} 

  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  */

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__subtitle__text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
}

.header__square-pic_color {
  background-color: #2f80ed;
}
/*Ниже стили блока description*/

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two-columns {
  /*border: solid 1px red;*/
  padding: 100px 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  /*border: solid 1px red;*/
  width: 175px;
}

.two-columns__main-text {
  /*border: solid 1px red;*/
  width: 80%;
  min-width: 784px;
}

.two-columns__list__items:nth-child(2) {
  margin: 30px 0;
}

.two-columns__brief__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

/*Ниже стили блока digits*/

.digits {
  /*padding: 100px 0;*/
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.digits__title {
  width: 60%;
  margin-bottom: 20px;
}

.digits__title__text {
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: 700;
}

.digits__subtitle {
  width: 60%;
}

.digits__subtitle__text {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
}

.table {
  width: 1100px;
  display: flex;
}

.table__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  /*border: solid 1px red;*/
}

.table__cell_theme_light {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  /*color: white;
  margin-right: 0;*/
  margin-top: 80px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__heading_theme_light {
  
}

.table__heading_theme_dark {

}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
}

.table__text_theme_light {

}

.table__text_theme_dark {

}

/*Ниже стили блока feinman*/

.feinman {
  background-color: #f2f2f2;
  height: 790px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feinman__title {
  padding-top: 100px;
  width: 648px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.feinman__title__text {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
}

.feinman__subtitle {
  margin-top: 70px;
  z-index: 2;
}

.feinman__subtitle__text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feinman__link {
  color: #000;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feiman__image {
  background-image: url("../images/feynman.png");
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/*Стили блока kaufman*/

/*Стили блока footer*/
/*.footer {
  background-color: #000;
  min-height: 300px;
}

.logo_place_footer {
  position: absolute;
}*/